body {
	background: #ddd;
}

* { 
	padding: 0; 
	margin: 0; 
}

.canvas
{
	border: solid #aaa 1px;
	background: #fff;
	display: block; 
	margin: 0 auto;
}

td {
	padding: 10px;
}

td.score {
	text-align: left; 
	vertical-align: top;
	font: 10px sans-serif; 
}
